@import url('sydneycity.webp');
div 
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(152,182,177);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: black;

}


h1{
   text-align: center; 
    font-size: 50px;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
    background-color:rgb(250,200,205);
    border-radius: 150px;

}

a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
   
    


}

h2{
    background-color:  rgb(215,188,200);
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
   margin-right: 800px;
    border-radius: 150px;
  margin-left: 800px;
    padding: 20px;
    color: palevioletred;
    font-size:30px;
   







    
}

p{
    background-color:  rgb(215,188,200);
    padding-left: 20px;
    padding-right: 50px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 150px;
    padding: 10px;
    font-size:15px;;
    margin-bottom: 100px;


}


img{
    background:rgb(250,200,205);
    padding: 10px;
    text-align: center;
    margin: auto;
    

    


 

}

body{
    background-color: whitesmoke;

}